<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
<p>微信公众号</p>
<p><a href="{:url('Wechat/getAccessToken')}"> 获取公众号access_token</a></p>
<p><a href="{:url('Wechat/createMenu')}"> 生成公众号菜单</a></p>
<p><a href="{:url('Wechat/getUserLists')}"> 批量获取关注粉丝列表</a></p>
<p>微信支付</p>
<p><a href="{:url('Pay/scanQr')}"> 微信扫码支付</a></p>
<p><a href="{:url('Pay/queryOrder')}"> 微信订单查询</a></p>
<p><a href="{:url('Pay/refund')}"> 微信订单退款</a></p>
<p><a href="{:url('Pay/transfers')}"> 微信企业付款</a></p>
<p>支付宝：</p>
<p><a href="{:url('Pay/pay')}"> 支付宝即时到账</a></p>
<p><a href="{:url('Pay/Alitransfer')}"> 支付宝转账</a></p>
<p><a href="{:url('Pay/AliQueryTransfer')}"> 支付宝转账查询</a></p>
<p><a href="#" onclick="scene()"> 条码支付</a><input name="bar_code" type="text"></p>
<p>excel导出</p>
<p><a href="{:url('Phpexcel/out')}"> 导出</a></p>
<p>高德地图</p>
<p><a href="{:url('Amap/location')}">ip地址-->地理地址</a></p>


</body>
<script type="text/javascript">
    /*条码支付*/
    function scene() {
        var bar_code = $("input[name='bar_code']").val();
        if (bar_code == '') {
            alert('请输入条码');
            return;
        }
        $.ajax({
            type: "POST",
            url: "{:url('scene')}",
            data: {"bar_code": bar_code},
            async: false,
            error: function (request) {
                alert("服务器繁忙, 请联系管理员!");
                return;
            },
            success: function (v) {
                console.log(v);
            }
        });
    }
    /*end--条码支付*/

</script>
</html>